{% extends 'layout.html' %}
{% block head %}
<title>Deteksi Tingkat Stress</title>

<style>
    body {
        background-color: #EEF5FF !important;
        color: #EEF5FF;
        margin-bottom: 0px !important;
    }

    option {
        border-radius: 0px !important;
    }

    .main-section {
        height: 500px;
        background-image: url('static/images/assets/home/background_blue.png');
    }
    
    #illustrasi-stress { 
        width: 60%;
    }

    #btn-start {
        /* width: 100px;
        height: 45px; */
        padding: 0.5rem 1.5rem;
    }


    .main-content {
        padding-left: 3rem;
        padding-right: 3rem;
    }


    .text-title {
        color: #176B87;
    }

    .button-primary {
        background-color: #176B87 !important;
        border: #1a6e8a solid !important;
    }
    .button-primary.btn-primary:hover {
        background-color: #18657e !important; 
        /* border: 2px #1a6e8a solid !important; */
    }


    .hidden-fade-out {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease;
    }

    .hidden-fade-out.display-none {
        display: none !important;
        /* visibility: hidden !important; */
    }

    .hidden-fade-out.hidden{
        visibility: hidden !important;
    }

    .hidden-fade-in {
        opacity: 0; 
        pointer-events: none;
        transition: opacity 0.5s ease;
    }

    .show-fade-in {
        opacity: 1; 
        pointer-events: auto;
    }

    .no-display {
        visibility: hidden !important;
        /* display: none;   */
    }

    .card {
        border: 0px !important;
        /* min-height: 350px; */
    }

    .form-label {
        font-weight: bold !important;
    }

    .form-check-option {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        background-color: #EEF5FF;
        padding: 1rem;
        border-radius: 0.75rem;
        cursor: pointer;
        width: 100%;
    }

    .form-check-option input[type="radio"] {
        margin: 0;
    }

    .form-check-option:hover {
        background-color: #dbe9ff;
        /* box-shadow: 0 0 5px rgba(0, 123, 255, 0.3); */
        border: 1px #176B87 solid;
        color: #176B87;
        font-weight: bold;
    }

    .form-check-option input[type="radio"]:checked + .label-text {
        font-weight: bold;
        color: #176B87;
    }

    .form-check-option:has(input[type="radio"]:checked) {
        border: 1px #176B87 solid;
    }
    
    #btn-deteksi-ulang {
        width: 12rem !important;
    }

    #kirim-btn {
        width: 7rem !important;
    }

    #prev-btn {
        width: 7rem !important;
    }

    @media (max-width: 768px) {
        #btn-start {
            width: 100%;
        }
        #illustrasi-stress { 
            max-width: 40%;
        }

        .main-content {
            padding-left: 0rem;
            padding-right: 0rem;
        }

        .main-section {
            min-height: 100vh; 
            margin-top: 0 !important;
            background-image: url('static/images/assets/home/background_blue_mobile.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
        }

        .form-section {
            margin-top: 0 !important;
        }


    }

    #transisi {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;       
        height: 100vh;      
        z-index: 100;
        background-color: #EEF5FF;
        padding: 0 !important;
    }



</style>

{% endblock %}

{% block body %}
<div class="visually-hidden hidden-fade-in" id="transisi"></div>
<div class="container-fluid main-section py-5 mt-6">
    <div class="container main-content">
        <div class="row align-items-center justify-content-center flex-column-reverse flex-md-row">

            <div class="col-12 col-md-6 text-center text-md-start d-flex flex-column justify-content-center h-100">
                <p class="fs-2 fw-bold m-0 text-title">
                    Deteksi Tingkat Stress Mahasiswa
                </p>
                <p class="fs-5">
                    Sistem ini menggunakan <span class="fw-bold">Fuzzy Tsukamoto</span> untuk mendeteksi tingkat stress.
                </p>
                <div class="d-flex justify-content-center justify-content-md-start">
                    <button class="btn btn-primary fw-bold" id="btn-start">
                        Mulai
                    </button>
                </div>
            </div>

            <!-- Kanan: Gambar -->
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <img src="/static/images/assets/home/stress_illustration.png"
                     alt="ilustrasi stress"
                     id="illustrasi-stress"
                     class="img-fluid"
                    >
            </div>
        </div>
    </div>
</div>



<div class="container-fluid d-flex justify-content-center py-5 mt-4 visually-hidden form-section">
    <div class="col-md-6">
        <div class="card rounded-4 mt-3" id="parameter">
            <div class="card-body visually-hiden hiden-fade-in param-section" id="param1">
                <div class="mb-3">
                    <p class="form-label fs-5">Bagaimana Kualitas Tidur Anda?</p>
                    <div class="row justify-content-center">
                        <div class="col mx-3">
                            
                            <div class="form-check m-0 p-0 mt-3">
                                <label for="kt1" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="kt" value="10" id="kt1">
                                    <span class="label-text">Saya Tidur &lt;5 Jam</span>
                                </label>
                            </div>
                            <div class="form-check m-0 p-0 mt-3">
                                <label for="kt2" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="kt" value="30" id="kt2">
                                    <span class="label-text">Saya Tidur 5 - kurang dari 6 Jam</span>
                                </label>
                            </div>
                            <div class="form-check m-0 p-0 mt-3">
                                <label for="kt3" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="kt" value="50" id="kt3">
                                    <span class="label-text">Saya Tidur 6 - kurang dari 7 jam</span>
                                </label>
                            </div>
                            <div class="form-check m-0 p-0 mt-3">
                                <label for="kt4" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="kt" value="90" id="kt4">
                                    <span class="label-text">Saya Tidur 7 - 8 jam</span>
                                </label>
                            </div>
                            <div class="form-check m-0 p-0 mt-3">
                                <label for="kt5" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="kt" value="40" id="kt5">
                                    <span class="label-text">Saya Tidur Lebih dari 8 jam</span>
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body visually-hidden hidden-fade-in param-section" id="param2">
                <div class="mb-3 ">
                    <label class="form-label fs-5">Bagaimana Performa Akademik Anda?</label>
                    <div class="row justify-content-center">
                        <div class="col mx-3">

                            <div class="form-check m-0 p-0 mt-3">
                                <label for="pa1" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="pa" value="10" id="pa1">
                                    <span class="label-text">Sangat buruk, saya sering gagal/tidak lulus banyak mata kuliah</span>
                                </label>
                            </div>
                            
                            <div class="form-check m-0 p-0 mt-3">
                                <label for="pa2" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="pa" value="30" id="pa2">
                                    <span class="label-text">Buruk, nilai saya banyak di bawah rata-rata</span>
                                </label>
                            </div>

                            <div class="form-check m-0 p-0 mt-3">
                                <label for="pa3" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="pa" value="50" id="pa3">
                                    <span class="label-text">Cukup, nilai saya biasa saja, ada naik-turun</span>
                                </label>
                            </div>


                            <div class="form-check m-0 p-0 mt-3">
                                <label for="pa4" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="pa" value="90" id="pa4">
                                    <span class="label-text">Baik, saya memperoleh sebagian besar nilai memuaskan</span>
                                </label>
                            </div>

                            <div class="form-check m-0 p-0 mt-3">
                                <label for="pa5" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="pa" value="40" id="pa5">
                                    <span class="label-text">Sangat baik, nilai saya sangat memuaskan dan konsisten</span>
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body hidden-fade-in visually-hidden param-section" id="param3">
                <div class="mb-3 ">
                    <label class="form-label fs-5">Bagaimana Hubungan Anda dengan Dosen?</label>

                    <div class="row justify-content-center">
                        <div class="col mx-3">

                            <div class="form-check m-0 p-0 mt-3">
                                <label for="hmd5" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="hmd" value="10" id="hmd5">
                                    <span class="label-text">Saya merasa tidak nyaman atau bahkan menghindari interaksi dengan dosen</span>
                                </label>
                            </div>

                            <div class="form-check m-0 p-0 mt-3">
                                <label for="hmd4" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="hmd" value="30" id="hmd4">
                                    <span class="label-text">Saya merasa agak sungkan atau canggung saat berkomunikasi dengan dosen</span>
                                </label>
                            </div>

                            <div class="form-check m-0 p-0 mt-3">
                                <label for="hmd3" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="hmd" value="50" id="hmd3">
                                    <span class="label-text">Hubungan saya biasa saja, kadang baik kadang tidak</span>
                                </label>
                            </div>

                            <div class="form-check m-0 p-0 mt-3">
                                <label for="hmd2" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="hmd" value="75" id="hmd2">
                                    <span class="label-text">Saya cukup mudah berkomunikasi dan merasa dihargai oleh dosen</span>
                                </label>
                            </div>

                            <div class="form-check m-0 p-0 mt-3">
                                <label for="hmd1" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="hmd" value="90" id="hmd1">
                                    <span class="label-text">Saya merasa sangat dekat dan nyaman berdiskusi dengan dosen</span>
                                </label>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="card-body hidden-fade-in visually-hidden param-section" id="param4">
                <div class="mb-3 ">
                    <label class="form-label fs-5">Seberapa besar Anda merasa didukung oleh orang-orang di sekitar Anda (keluarga, teman, komunitas kampus, dll)?</label>

                    <div class="row justify-content-center">
                        <div class="col mx-3">
                            <div class="form-check m-0 p-0 mt-3">
                                <label for="ssl1" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="ssl" value="10" id="ssl1">
                                    <span class="label-text">Saya merasa sangat sendirian dan tidak ada yang bisa saya andalkan</span>
                                </label>
                            </div>

                            <div class="form-check m-0 p-0 mt-3">
                                <label for="ssl2" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="ssl" value="30" id="ssl2">
                                    <span class="label-text">Saya jarang merasa mendapat dukungan dari sekitar saya</span>
                                </label>
                            </div>

                            <div class="form-check m-0 p-0 mt-3">
                                <label for="ssl3" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="ssl" value="50" id="ssl3">
                                    <span class="label-text">Saya kadang merasa didukung, tapi sering juga merasa sendirian</span>
                                </label>
                            </div>

                            <div class="form-check m-0 p-0 mt-3">
                                <label for="ssl4" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="ssl" value="75" id="ssl4">
                                    <span class="label-text">Saya sering merasa didukung, meskipun tidak selalu</span>
                                </label>
                            </div>


                            <div class="form-check m-0 p-0 mt-3">
                                <label for="ssl5" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="ssl" value="90" id="ssl5">
                                    <span class="label-text">Saya merasa sangat didukung secara emosional dan praktis setiap saat</span>
                                </label>
                            </div>

                        </div>
                    </div>

                </div>
            </div>



            <div class="card-body hidden-fade-in visually-hidden param-section" id="param5">
                <div class="mb-3 ">
                    <label class="form-label fs-5">Bagaimana Anda menilai kondisi kehidupan Anda secara umum saat ini (dari segi finansial, tempat tinggal, dan keamanan pribadi)?</label>
                    
                    <div class="row justify-content-center">
                        <div class="col mx-3">

                            <div class="form-check m-0 p-0 mt-3">
                                <label for="kh1" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="kh" value="10" id="kh1">
                                    <span class="label-text">Saya merasa kondisi hidup saya tidak layak dan sangat menyulitkan</span>
                                </label>
                            </div>

                            <div class="form-check m-0 p-0 mt-3">
                                <label for="kh2" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="kh" value="30" id="kh2">
                                    <span class="label-text">Saya sering menghadapi kesulitan dalam keuangan/tempat tinggal/kebutuhan dasar</span>
                                </label>
                            </div>

                            <div class="form-check m-0 p-0 mt-3">
                                <label for="kh3" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="kh" value="50" id="kh3">
                                    <span class="label-text">Kondisi hidup saya biasa saja, kadang cukup, kadang kekurangan</span>
                                </label>
                            </div>

                            <div class="form-check m-0 p-0 mt-3">
                                <label for="kh4" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="kh" value="75" id="kh4">
                                    <span class="label-text">Secara umum saya hidup cukup nyaman, walaupun ada sedikit tantangan</span>
                                </label>
                            </div>

                            <div class="form-check m-0 p-0 mt-3">
                                <label for="kh5" class="form-check-option">
                                    <input type="radio" class="form-check-input" name="kh" value="90" id="kh5">
                                    <span class="label-text">Semua aspek kehidupan saya stabil dan nyaman (keuangan, tempat tinggal, dsb.)</span>
                                </label>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-3" id="btn-container">
            <button class="btn btn-primary visually-hidden" id="prev-btn">
                Kembali
            </button>

            <button class="btn btn-primary button-primary ms-3 hidden-fade-in visually-hidden" id="next-btn" disabled>
                Selanjutnya
            </button>

            <button class="btn btn-success ms-3 hidden-fade-in visually-hidden " id="kirim-btn">
                Kirim
            </button>


        </div>

        <div class="hidden-fade-in visually-hidden" id="result">
            <div class="card rounded-4 mt-3">
                <div class="card-body">
                    <p class="fs-5 fw-bold text-center text-title">Tingkat Stress Kamu</p>
    
                    <p class="fs-1 fw-bold text-center mb-0 p-0" id="score"></p>
                    <div class="d-flex justify-content-center m-0 p-0">
                        <hr class="w-25 m-0">
                    </div>
                    <p class="fs-2 fw-bold text-center mt-0 p-0" id="tingkatan"></p>
                </div>
            </div>
    
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-primary button-primary ms-3" id="btn-deteksi-ulang">
                    Ulangi
                </button>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    
    document.addEventListener("DOMContentLoaded", function () {
        
        const kualitasTidurInpt = document.querySelectorAll('input[name="kt"]');
        const performaAkademikInpt = document.querySelectorAll('input[name="pa"]');
        const dosenMhsInpt = document.querySelectorAll('input[name="hmd"]');
        const supportSosialInpt = document.querySelectorAll('input[name="ssl"]');
        const kondisiHidupInpt = document.querySelectorAll('input[name="kh"]');

        const startBtn = document.querySelector('#btn-start');
        const ulangiBtn = document.querySelector('#btn-deteksi-ulang')

        const mainSection = document.querySelector('.main-section');
        const formSection = document.querySelector('.form-section');

        const parameterCard = document.querySelector('#parameter')
        const param1Card = document.querySelector('#param1');
        const param2Card = document.querySelector('#param2');
        const param3Card = document.querySelector('#param3');
        const param4Card = document.querySelector('#param4');
        const param5Card = document.querySelector('#param5');

        const resultCard = document.querySelector('#result');
        const resultScore = document.querySelector('#score');
        const resultTingkatan = document.querySelector('#tingkatan');

        const btnContainer = document.querySelector('#btn-container')
        const nextBtn = document.querySelector('#next-btn');
        const prevBtn = document.querySelector('#prev-btn');
        const kirimBtn = document.querySelector('#kirim-btn');


        const transisi = document.querySelector('#transisi');
        
        let kualitasTidur, performaAkademik, hubMhsDosen, supportSosial, kondisiHidup;

        const kuisionerList = Array.from(document.querySelectorAll('.param-section'));
        let currentIndex = 0;

        const fuzzyPlot = document.querySelector('#fuzzy_plot')


        const detectBtn = document.querySelector('.detectBtn')

        
        // validasiParameter()

        kualitasTidurInpt.forEach(radio => {
            radio.addEventListener('change', function () {
                kualitasTidur = document.querySelector('input[name="kt"]:checked');
                ganti_kuisoner(param1Card, param2Card)
                
                currentIndex++
                validasi_prev_btn()
                validasi_next_btn()
            });
        });

        performaAkademikInpt.forEach(radio => {
            radio.addEventListener('change', function () {
                performaAkademik = document.querySelector('input[name="pa"]:checked');
                ganti_kuisoner(param2Card, param3Card)
                currentIndex++
                
            });
        });

        dosenMhsInpt.forEach(radio => {
            radio.addEventListener('change', function () {
                hubMhsDosen = document.querySelector('input[name="hmd"]:checked'); 
                ganti_kuisoner(param3Card, param4Card)
                currentIndex++
                
            });
        });

        supportSosialInpt.forEach(radio => {
            radio.addEventListener('change', function () {
                supportSosial = document.querySelector('input[name="ssl"]:checked'); 
                ganti_kuisoner(param4Card, param5Card)
                currentIndex++
                
            });
        });



        kondisiHidupInpt.forEach(radio => {
            radio.addEventListener('change', function () {
                kondisiHidup = document.querySelector('input[name="kh"]:checked'); 
                // currentIndex++
                deteksiStress()
                show_kirim_btn()
                // ganti_kuisoner(parameterCard, resultCard)
                // animasi_hidden_out(nextBtn)
                // animasi_hidden_out(prevBtn)
            });
        });


        // function validasiParameter() {
        //     const validParam = kualitasTidur && performaAkademik && hubMhsDosen && supportSosial && kondisiHidup;

        //     detectBtn.disabled = !validParam
        //     return validParam;
        // }


        function animasi_hidden_out (elemen) {
            elemen.classList.add('hidden-fade-out')
            elemen.classList.remove('hidden-fade-in', 'show-fade-in')
            setTimeout(() => {
                elemen.classList.add('visually-hidden');
            }, 500); 


            
        }  function animasi_hidden_in (elemen) {
            setTimeout(() => {
                elemen.classList.remove('visually-hidden');
                setTimeout(() => {
                    elemen.classList.add('show-fade-in');
                }, 10);
            }, 500); 
            
        }

  
        // function ganti_kuisoner(param, next_param) {
        //     animasi_hidden_out(param)
        //     setTimeout(() => {
        //         animasi_hidden_in(next_param)
        //     }, 10); 
        // }

        function ganti_kuisoner(param, next_param) {
            animasi_hidden_in(transisi)
            setTimeout(() => {
                param.classList.add('visually-hidden')
                next_param.classList.remove('visually-hidden')
                next_param.classList.add('show-fade-in')
                    setTimeout(() => {
                        animasi_hidden_out(transisi)
                    }, 150); 
                setTimeout(() => {
                }, 500); 
            }, 700); 
            
        }


        // Fungsi Button Start ketika di klik
        startBtn.addEventListener('click', () => {
            animasi_hidden_out(mainSection)
            animasi_hidden_in(param1Card)
            setTimeout(() => {
                formSection.classList.remove('visually-hidden')
                parameterCard.classList.remove('visually-hidden')
            }, 550); 
        })

        // Fungsi Button Kirim ketika di klik
        kirimBtn.addEventListener('click', () => {
            ganti_kuisoner(parameterCard, resultCard)
            setTimeout(() => {
                animasi_hidden_out(btnContainer)
            }, 100);
            
            
        })

        ulangiBtn.addEventListener('click', () => {
            ulangi_deteksi()
        })


        nextBtn.addEventListener('click', function () {
            this.disabled = true
            if (validasi_next_btn()){
                this.disabled = false
                if (currentIndex < kuisionerList.length - 1) {
                    const current = kuisionerList[currentIndex];
                    const next = kuisionerList[currentIndex + 1];
                    ganti_kuisoner(current, next);
                    currentIndex++;
                    validasi_next_btn()
                    validasi_prev_btn()
                }
            } else {
                this.disabled = true
            }
        });


        prevBtn.addEventListener('click', function ()  {
            validasi_prev_btn()
            if (currentIndex > 0) {
                const current = kuisionerList[currentIndex];
                const prev = kuisionerList[currentIndex - 1];
                ganti_kuisoner(current, prev);
                animasi_hidden_out(kirimBtn)
                currentIndex--;
                validasi_prev_btn()
            } 
          
            validasi_next_btn()
        });


        function validasi_next_btn() {
            const current = kuisionerList[currentIndex];

            const selected = current.querySelector('input[type="radio"]:checked');
            nextBtn.disabled = !selected;
            if (!selected || currentIndex >= kuisionerList.length - 1) {
                setTimeout(() => {
                    animasi_hidden_out(nextBtn)
                    if (currentIndex >= kuisionerList.length - 1) {
                        show_kirim_btn()
                    }
                }, 150);
            } else {
                setTimeout(() => {
                    animasi_hidden_in(nextBtn)
                }, 150);

            }


            return selected
        }

        function validasi_prev_btn() {
            if (currentIndex >= 1) {
                setTimeout(() => {
                    animasi_hidden_in(prevBtn)
                }, 300);
            } 
            else {
                setTimeout(() => {
                    animasi_hidden_out(prevBtn)
                }, 300);
            }
        }


        function show_kirim_btn() {
            animasi_hidden_in(kirimBtn)
        }


        function ulangi_deteksi() {
            param5Card.classList.add('visually-hidden');
            animasi_hidden_in(btnContainer)

            kirimBtn.classList.remove('show-fade-in')
            kirimBtn.classList.add('visually-hidden')

            animasi_hidden_out(resultCard)
            animasi_hidden_in(mainSection)
            setTimeout(() => {
            
                mainSection.classList.remove('visually-hidden')
                resultCard.classList.remove('show-fade-in')
                resultCard.classList.add('hidden-fade-in', 'visually-hidden')

                formSection.classList.add('visually-hidden')

                param1Card.classList.remove('visually-hidden')

                currentIndex = 0
                kualitasTidur, performaAkademik, hubMhsDosen, supportSosial, kondisiHidup = null
            
                kuisionerList.forEach(section => {
                    const checkedRadios = section.querySelectorAll('input[type="radio"]:checked');
                    checkedRadios.forEach(radio => {
                        radio.checked = false;
                    });
                });

            }, 500); 
        }


        function deteksiStress() {
            let variabel_fuzzy = {
                "kualitas_tidur" : parseInt(kualitasTidur.value), 
                "performa_akademik" : parseFloat(performaAkademik.value), 
                "hub_mhs_dosen" : parseFloat(hubMhsDosen.value),
                "support_sosial" : parseFloat(supportSosial.value),
                "kondisi_kehidupan" : parseFloat(kondisiHidup.value)
            }

            fetch('/detect-stress', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(variabel_fuzzy)
            })
            .then(response => response.json())
            .then(data => {
                
                resultScore.innerHTML = data.level_stress
                resultTingkatan.innerHTML = data.tingkat_stress

                if (data.tingkat_stress === "Normal") { 
                    resultScore.classList.add('text-success')
                } else if  (data.tingkat_stress === "Sedang") { 
                    resultScore.classList.add('text-warning')
                } 
                else {
                    resultScore.classList.add('text-danger')
                }
            })
            .catch(error => console.error('Error:', error));
        }
    });


</script>
{% endblock %}
